* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.main {
  height: 100vh;
  background-image: url(assets/background.jpg);
  background-size: max(1270px, 100vw);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.55;
  top: 0;
  position: absolute;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 80vw;
  height: 88px;
}
nav img {
  position: relative;
  z-index: 2;
  width: 148px;
  height: 40px;
}
nav button {
  position: relative;
  z-index: 2;
  padding: 10px 15px;
  background-color: #e50914;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  gap: 5px;
}
.main-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  letter-spacing: -1px;

}
.content :nth-child(1) {
  font-size: 4.5rem;
  font-weight: 900;
  color: white;
  text-align: center;
  line-height: 70px;
}
.content :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 15px auto;
}
.content :nth-child(3) {
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
  width: 40vw;
  letter-spacing: -1px;
  text-spacing-trim: ;
  /* row-gap: 5px; */
  
}
.input input{
    height: 56px;
    width: 360px;
    background-color: #141515;
    border: 1.5px solid #5E5E5E;
    border-radius: 5px;
    margin: 20px auto;
    padding: 30px 10px;
}
input::placeholder{
    font-size: 16px;
    font-weight: 600;
    color: #BAB1A9;
}
.input button{
    height: 56px;
    width: 213px;
    margin: 20px auto;
    background-color: #e50914;
    color: white;
    font-size:1.6rem;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    /* padding: 30px 10px; */
    cursor: pointer;
}