@font-face {
  font-family: Netflix Sans;
  src: url( url(https://assets.nflxext.com/ffe/siteui/fonts/kufi/v4/HandsetSansKufiArabic-Regular.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/kufi/v4/HandsetSansKufiArabic-Regular.woff) format("woff"));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Netflix Sans;
}
html {
  /* -webkit-text-size-adjust: 100%; */
}
body {
  /* overflow-x: hidden; */
  background-color: black;
}
.main {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/background.jpg);
  background-size: max(1270px, 100vw);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.55;
  top: 0;
  position: absolute;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 80vw;
  height: 88px;
}
nav img {
  position: relative;
  z-index: 2;
  width: 148px;
  height: 40px;
}
nav button {
  position: relative;
  z-index: 2;
  padding: 8px 20px;
  background-color: #e50914;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  gap: 5px;
}
.main-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  transform-origin: center center;
  margin-top: 20vh;
   /* margin: 10vh auto 5vh auto; reduce space at bottom */
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  letter-spacing: -1px;
  gap: 12px;
  margin-top: 0;
}
.content :nth-child(1) {
  font-family: Netflix Sans;
  font-size: 4.5rem;
  font-weight: 900;
  color: white;
  text-align: center;
  line-height: 70px;
}
.content :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
  /* margin-top: 25px;
   */
  margin-top: 0;
}
.content :nth-child(3) {
  font-size: 14px;
  font-weight: 200;
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
  width: 40vw;
  letter-spacing: 1px;
  line-height: 10px;
  /* row-gap: 5px; */
  margin-top: 0;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.input input {
  height: 56px;
  width: 360px;
  background-color: #141515;
  border: 1.5px solid #5e5e5e;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px 10px;
}
input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #bab1a9;
}
.input button {
  height: 56px;
  width: 213px;
  margin: 20px auto;
  background-color: #e50914;
  color: white;
  font-size: 1.6rem;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.trending-now{
  height: 40vh;
  width: 100%;
  background-color: red;
  /* margin-top: 60px; */
  /* position: absreolute; */
  /* top: 0; */
}

@media (max-width: 1480px) {
  .content :nth-child(1) {
    width: 50vw;
  }
}
@media (min-width: 1280px) {
  .content {
    gap: 10px;
    /* width: 40vw; */
  }
  .content :nth-child(1) {
    font-size: 2.5rem;
    line-height: 1.1;
    width: 35vw;
  }
  .content :nth-child(2) {
    font-size: 1.2rem;
    line-height: 1.1;
    width: 35vw;
  }
  .content :nth-child(3) {
    font-size: 0.9rem;
    line-height: 1.1;
  }
  .input input {
    width: 300px;
  }
  .input button {
    width: 200px;
  }
}
@media (max-width: 980px) {
  .content {
    gap: 8px;
    max-width: 600px;
    width: 90%;
  }

  .content :nth-child(1) {
    font-size: clamp(1.4rem, 2vw + 0.5rem, 1.8rem);
    line-height: 1.2;
    width: 47%;
    max-width: 600px;
    text-align: center;
    word-break: keep-all;
  }

  .content :nth-child(2) {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  nav img {
    width: 89px;
    height: 24px;
  }
}

@media (max-width: 600px) {
  .content {
    gap: 6px;
  }
  .content :nth-child(1) {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}
