@font-face {
  font-family: Netflix Sans;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/kufi/v4/HandsetSansKufiArabic-Regular.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/kufi/v4/HandsetSansKufiArabic-Regular.woff)
      format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

body {
  background-color: black;
  scroll-behavior: smooth;
}
.main {
  height: 100vh;
  width: 100%;
  background-image: url(assets/background.jpg);
  background-size: max(1270px, 100vw);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.55;
  top: 0;
  position: absolute;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 80vw;
  height: 88px;
}
nav img {
  position: relative;
  z-index: 2;
  width: 148px;
  height: 40px;
}
nav button {
  position: relative;
  z-index: 2;
  padding: 8px 20px;
  background-color: #e50914;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  gap: 5px;
}
.main-content {
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  transform-origin: center center;
  margin-top: 25vh;
  padding: 25px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-top: 0;
}
.content h1 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  text-align: center;
  line-height: 70px;
  padding-bottom: 10px;
}
.content h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 0;
  padding-bottom: 35px;
}
.content h3 {
  font-size: 14px;
  font-weight: 500;
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
  width: 40vw;
  letter-spacing: 1px;
  line-height: 10px;
  margin-top: 0;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.input input {
  height: 56px;
  width: 380px;
  background-color: rgb(20, 21, 21, 0.7);
  border: 1.5px solid #5e5e5e;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px 10px;
}
input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #bab1a9;
}
.input button {
  height: 56px;
  width: 213px;
  margin: 20px auto;
  background-color: #e50914;
  color: white;
  font-size: 1.6rem;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.seperation {
  height: 70px;
  width: auto;
  color: rgb(255, 255, 255);
  background-color: black;
}
.container {
  height: 350px;
  max-width: 1250px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin: 30px auto;
}
.trending-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding-bottom: 10px;
}
.slider {
  display: flex;
  margin-left: 10px;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  overflow-y: hidden;
}
.slider::-webkit-scrollbar {
  display: none;
}
.card {
  position: relative;
  flex: 0 0 auto;
  height: 270px;
  width: 220px;
  scroll-snap-align: start;
  border-radius: 10px;
  overflow: visible;
  padding: 10px 10px;
  transition: transform 0.3s ease-out;
  z-index: 1;
}
.card:hover {
  transform: scale(1.1);
  z-index: 10;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

.number {
  position: absolute;
  bottom: -5px;
  left: -10px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 5.5rem;
  z-index: 5;
  -webkit-text-stroke: 2px white;
}
.reason {
  /* height: 340px; */
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  color: white;
}
.reason h2 {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
.reason-content {
  /* background-color: red; */
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.reason-card {
  position: relative;
  width: 330px;
  height: 270px;
  background: radial-gradient(
      circle at bottom right,
      rgba(57, 4, 35, 0.471),
      transparent 45%
    ),
    linear-gradient(135deg, #1c1f4a 0%, #1a0f2e 50%, #0b0614 100%);
  border-radius: 20px;
  padding: 20px 15px;
}
.reason-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
}
.reason-card p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin-top: 18px;
  opacity: 0.7;
}
.reason-card img {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 60px;
  width: auto;
  mix-blend-mode: lighten;
}
.faq{
  height: 550px;
  max-width: 1200px;
  width: 100%;  
  margin: 50px auto;
}
.faq h3{
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}
.faq-box{
  height: 80px;
  width: 100%;
  cursor: pointer;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 0 20px;
  transition: all 0.2s ease-in;

  &:hover{
    background-color: #3d3d3d;
  }
}
.faq-box span{
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}
.faq-box svg{
  color: white;
}